working-demo/Recording 2024-07-30 211300.mp4
working-demo/latest.mp4
visualisation/plots.zip
similar-works/Machine learning models to predict sweetness of molecules.pdf
NeuralTox/backend/features.csv
NeuralTox/backend/CRPD.smi
working-demo/drawing.mp4
NeuralTox/backend/database/boruta_features.csv
ToxinPred/backend/features.csv
.gitignore
ToxinPred/backend/feature_generation/__pycache__/padel_features.cpython-311.pyc
ToxinPred/backend/feature_selection/__pycache__/feature_selection.cpython-311.pyc
ToxinPred/backend/feature_generation/__pycache__/rdkit_features.cpython-311.pyc
ToxinPred/backend/feature_generation/__pycache__/padel_features.cpython-311.pyc
ToxinPred/backend/__pycache__/main.cpython-311.pyc
ToxinPred/backend/__pycache__/main.cpython-311.pyc
ToxinPred/backend/CRPD.smi
