.container {
  margin-top: 20px;
}

.card {
  border-radius: 8px;;
}

.card-header {
  background-color: #f8f9fa;
  font-weight: bold;
  color:#2fd5e1
}

.card-body {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  color:#6c757d;
}
.card-body {
  font-size: 14px;
  line-height: 1.5;
}

.custom-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding : 20px;
  transition: box-shadow 0.3s ease;
}
.custom-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);


}

.info-title {
  color: #2fd5e1;
  text-decoration: none;
}

.img-container{
  border: 1px solid #dee2e6;

}
.info-title:hover {
  text-decoration: underline;
}

.info-msg {
  font-size: 14px;
  color: #6c757d;
}

.btn{
  background-color: #2fd5e1;
  color: white;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: rgba(47, 166, 225, 0.7);
}