.form-container{
align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  height: 400px;
  width: 400px;
  text-align: center;
  background-color : rgba(255, 255, 255, 0.8);
}

.custom-container{
  color: #9b9bcb;
  background-color : rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  height: 400px;
  width: 400px;
}

.form-content{
  align-items: center;
  padding : 20px;
  margin-top: 40px;
}
.custom-button{
  background-color: rgba(65, 105, 225, 0.5);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
}

.custom-input{

  background-color : rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 5px;
  padding: 20px;
}

.custom-input::placeholder {
  color: #9b9bcb;/* Change placeholder text color */
}

.form-heading{
  font-size: 2.0rem;
  font-weight: bold;
  padding: 10px;
}

.box-container{
  display: flex;
  margin-top: 150px;
  justify-content: center;
  align-items: center;
}

.predict-container{
  display: flex;
  justify-content: center;
  background-color: rgba(65, 105, 225, 0.5);
  margin-top : 50px;
  border-radius: 10px;
  height: 100px;
  width: 500px;
  align-items: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.all-container{
  background: linear-gradient(to bottom right, #84ceeb, #4a54f1); /* Gradient from Sky Blue to Deep Blue */
  background-position: center; /* Center the gradient */;
  background-size: cover; /* Cover the entire background */;
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
button:disabled {
  cursor: not-allowed;
}